<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="work.shion.androidpreparation.intentbuilder">

    <application>

        <activity android:name=".BrowserSample" />
        <activity android:name=".CalendarEventSample" />
        <activity android:name=".OpenMapSample" />
        <activity android:name=".SearchWebSample" />
    </application>
</manifest>
